* {
	font-weight: 300;
	/* background-image: url(motivator-background2.jpg); */
	background-repeat: no-repeat; height: 2vh; margin: 0; color: #d98585;
	line-height: 2vh; font-size: 15px; text-align: center;
	font-family: 'Courgette', 'sans-serif';
}