.pulseArrow {
	margin: 100px;
	display: block;
	width: 50px !important;
	height: 50px !important;
	border-radius: 50% !important;
	box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
	animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 #495057;
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
	}
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 #495057;
		box-shadow: 0 0 0 0 #495057;
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
		box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
		box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
	}
}

@-webkit-keyframes pulse-right {
	0% {
		box-shadow: 0 0 0 0 #fbd817;
	}
	50% {
		box-shadow: 30vw 0 75px 10px #fae364;
	}
	100% {
		box-shadow: 30vw 0 150px 45px #fbf5d3;
	}
}

@keyframes pulse-right {
	0% {
		box-shadow: 0 0 0 0 #fbd817;
	}
	50% {
		box-shadow: 30vw 0 75px 10px #fae364;
	}
	100% {
		box-shadow: 30vw 0 150px 45px #fbf5d3;
	}
}

@-webkit-keyframes pulse-left {
	0% {
		-webkit-box-shadow: 0 0 0 10px #daba0b;
		box-shadow: 0 0 0 0 #fbd817;
	}
	50% {
		-webkit-box-shadow: -30vw 0 0 10px #daba0b;
		box-shadow: -30vw 0 75px 10px #fae364;
	}
	100% {
		-webkit-box-shadow: -30vw 0 0 0 #daba0b;
		box-shadow: -30vw 0 150px 45px #fbf5d3;
	}
}

@keyframes pulse-left {
	0% {
		-webkit-box-shadow: 0 0 0 10px #daba0b;
		box-shadow: 0 0 0 0 #fbd817;
	}
	50% {
		-webkit-box-shadow: -30vw 0 0 10px #daba0b;
		box-shadow: -30vw 0 75px 10px #fae364;
	}
	100% {
		-webkit-box-shadow: -30vw 0 0 0 #daba0b;
		box-shadow: -30vw 0 150px 45px #fbf5d3;
	}
}