*{
	font-size:14px;
}
div{
display: inline;
}

@media screen and (min-width: 768px) {
.weatherContainer div{
	padding-bottom: 10px;
	font-family: 'Courgette', 'sans-serif';
}
.weatherContainer .weatherTime{
}
.weatherContainer .weatherTemp{
    color: #959a9e;
}
.weatherContainer .weatherCity{
    color: #b98570;
}
.weatherContainer .weatherDescription{
    color: #959a9e;
}
	
}

@media screen and (min-width: 1024px) {
.weatherContainer div{
	padding-bottom: 10px;
	font-family: 'Courgette', 'sans-serif';
}
.weatherContainer .weatherTime{
}
.weatherContainer .weatherTemp{
    color: #959a9e;
}
.weatherContainer .weatherCity{
    color: #b98570;
}
.weatherContainer .weatherDescription{
    color: #959a9e;
}
}


@media screen and (min-width: 1440px) {
.weatherContainer div{
	padding-bottom: 10px;
	font-family: 'Courgette', 'sans-serif';
}
.weatherContainer .weatherTime{
}
.weatherContainer .weatherTemp{
    color: #959a9e;
}
.weatherContainer .weatherCity{
    color: #b98570;
}
.weatherContainer .weatherDescription{
    color: #959a9e;
}

}
.weatherContainer{
	left: 50%;
    width: 78%;
}

