
<div *ngIf="!mobile" class="weatherContainer" [hidden]="!weatherData" title="As of: {{getTime()}}">
	<!-- <a height='300px' width='300px'><img
		src="/assets/pic/weatherCloud1.png" /></a> -->
	<div *ngIf="weatherData" class="weatherData">
		<div class="weatherCity">{{weatherData.name}}</div>&nbsp;
		<div class="weatherTemp">{{transformTemp(weatherData.main.temp) |number :'1.0-0'}} &#8457;</div>
		&nbsp;<div class="weatherDescription">{{weatherData.weather[0].description | titlecase}}</div>
		
	</div>
</div>