.app-container{
    text-align:center;
}
.search-bar{ 
    width: 45%;
    border-radius: 2px;   
}

.search-label{
    background: #eae6d08f;
    /* width: 50%; */
    border-radius: 3px;
    padding-right: 19px;
    color: silver;
    font-weight: bold;
    font-family: serif;
    padding-bottom: .3%;
    padding-top: .2%;
    box-shadow: inset 0px 0px 3px #1484d4;
    /* margin-left: 1%; */
}