<div id="mySidenav" class="sidenav {{sidebarPosition}}">
  <a href="javascript:void(0)" class="closebtn" (click)="toggleNav()">&#8668;</a>
  <a href="#">Sebastian Hellsing</a>
  <a href="#">Professional Timeline</a>
  <a href="#">Military Service</a> 
  <a href="#">Download Resume</a>
</div>
<span style="font-size:30px;cursor:pointer" (click)="toggleNav()">&#8658;</span>
<div id="sideNavMobile" class="sidenav {{sidebarPosition}}">
  <a href="javascript:void(0)" class="closebtn" (click)="toggleNav()">&times;</a>
  <a href="#">Sebastian Hellsing</a>
  <a href="#">Professional Timeline</a>
  <a href="#">Military Service</a>
  <a href="#">Download Resume</a>
</div>