<div id="mySidenav" class="sidenav {{sidebarPosition}}">
  <button class="closebtn" (click)="toggleNav()">
    <span class="left-sidebar-arrow">&#8668;</span>
  </button>
    <button (click)="scrollToElement('intro')">Intro</button>
      <button (click)="scrollToElement('sebastian')">Sebastian Hellsing</button>
        <button (click)="scrollToElement('resume')">Professional Timeline</button>
          <button (click)="scrollToElement('military')" >Military Service</button> 
  <a href="/docs/resume.pdf " download>Download Resume</a>
<span style="font-size:30px;cursor:pointer" (click)="toggleNav()">&#8669;</span>
<div id="sideNavMobile" class="sidenav {{sidebarPosition}}">
  <button class="closebtn" (click)="toggleNav()">&times;</button>
<button (click)="scrollToElement('intro')">Intro</button>
      <button (click)="scrollToElement('sebastian')">Sebastian Hellsing</button>
        <button (click)="scrollToElement('resume')">Professional Timeline</button>
          <button (click)="scrollToElement('military')" >Military Service</button> 
  <a href="/docs/resume.pdf " download>Download Resume</a>
</div>
