<div class="blogSeperator sticky"></div>

<div class="blogContainer">
	<ul>
		<li *ngFor="let blog of blogs">
			<ul class="authorPicContainer">
				<li *ngFor="let pic of blog.authorsImage; let i = index"><img
					src="{{pic}}" class="authorHeads" />
					<div class="authorShadow{{i}}"></div></li>
			</ul>
			<div class="blogAuthor">
				<span class="authorTick">___________</span><span
					class="authorContent">{{blog.authors}}</span>
			</div>
			<div style="clear: both">&nbsp;</div>
			<div class="blogTitle">{{blog.title}}</div>
			<div class="blogBody">{{blog.body}}</div>
		</li>
	</ul>
</div>