.blogContainer {
	margin-top: 15vh;
}
.blogBody{
	box-shadow:inset 0px 2px 2px grey;
	border-shadow:1px black solid;
	text-indent: 50px;
	border-radius:10px;
    min-height: 427px;
}
.blogSeperator{
	border-top:1px black solid;
	border-bottom:1px black solid;
	background-image:url('/assets/pic/pulseSpace.png');
    background-size:80vh 10vh;
    height:75px;
	margin-top:6vh;
 	width: 80vw;
}
.authorPicContainer{
	float:clear;
}
.authorHeads{
	border: 1px black solid;
	border-radius:50%;
	height:50px;
	width:50px;
	float:left;
	margin-left: 5px;
}
.blogAuthor{
	clear:both;
	margin-left:5%;
}
.authorTick{
	border-bottom:1px gold solid;
	color:white;
	position:absolute;
    line-height: 12px;
    margin-left: -85px;
    
	
}
.authorShadow0{
	float:left;
    box-shadow: inset 0px 4px 1px #1d2124;
    width: 50px;
    height: 50px;
    border: 1px black solid;
    border-radius: 50%;
    margin-left: 5px;
    z-index: 999;
    position: absolute;

}
.authorShadow1{
	float:left;
    box-shadow: inset 0px 4px 1px #1d2124;
    width: 50px;
    height: 50px;
    border: 1px black solid;
    border-radius: 50%;
    margin-left: 60px;
    z-index: 999;
    position: absolute;

}