/* You can add global styles to this file, and also import other style files */

html,
body {
  top: 0;
  left: 0;
  width: 98vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  background: #012334;
}

h1 {
  font-size: 6rem;
}

img {
  height: 100%;
  width: 100%;
}
