@import './app/assets/css/w3.css';
@import './app/assets/css/blackPulseEffect.css';
@import "./assets/css/bootstrap.min.css";
*{
	max-width:960px;
	vertical-align: middle;
	
}
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
}
ul{
	list-style: none;
}