@import './app/assets/css/w3.css';
@import './app/assets/css/blackPulseEffect.css';


html {
	height: 100%;
	width: 100%;
}

body{
	min-height: 100%;
	min-width: 100%;
	/*background-color: #000;*/
	overflow:scroll;
}
.appBox{
	padding-top:100px;
}

/*Vanish css*/
.vanish1{
	opacity:.9;
}
.vanish2{
	opacity:.8;
}
.vanish3{
	opacity:.7;
}
.vanish4{
	opacity:.6;
}
.vanish5{
	opacity:.5;
}
.vanish6{
	opacity:.4;
}
.vanish7{
	opacity:.3;
}
.vanish8{
	opacity:.2;
}
.vanish9{
	opacity:.1;
}
.vanish10{
	opacity:.09;
}
.vanish11{
	opacity:.08;
}
.vanish12{
	opacity:.07;
}
.vanish13{
	opacity:.06;
}
.vanish14{
	opacity:.05;
}
.vanish15{
	opacity:.04;
}
.vanish16{
	opacity:.03;
}
.vanish17{
	opacity:.02;
}
.vanish18{
	opacity:.01;
}
.vanish19{
	opacity:.00;
}
/***********************************/