.welcome {
  border-bottom: 1px solid black;
  text-align: center;
  margin-left: 0vw;
  padding-left: 16vw;
  width: 100vw;
  font-size: 2.5vw;
  font-family: 'Ubuntu', sans-serif;
  background: #4e404e;
  color: #322020;
  box-shadow: 3px 1px 1px black;
}

.home-container {
  width: 98vw;
  height: 98vw;
  text-align: center;
}

.keys-container {
  border: 1px solid black;
  width: 61vw;
  height: 20vw;
  text-align: center;
  margin-left: 30vw;
  background: black;
  box-shadow: -5px 6px 13px black;
  border-radius: 5px;
  margin-top: 20vh;
}

.keys-container img {
  border: 1px solid black;
  border-radius: 5px;
  animation-name: keyIllusion;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  opacity: 1;
}

.mission-container {
  height: stretch-content;
  width: 98vw;
  text-align: center;
}

.mission-gear {
  background: url(/assets/pics/mission-gear.png);
  margin-left: 56vw;
  height: 100px;
  width: 100px;
  background-size: contain;
  margin-top: 5vh;
  position: absolute;
  animation-name: spinning-gear;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

.mission-statement {
  font-family: '8BITWONDERNominal';
  margin-top: 10vh;
  padding-top: 5vh;
  height: 35vh;
  text-align: center;
  background: #171411;
  width: 30vw;
  border-radius: 15px;
  padding: 2.5vw .2vw;
  margin-left: 44vw;
  border: 1px solid grey;
  color: #827f7f;
  box-shadow: 0px 4px 14px 2px black;
  -webkit-animation-name: mission-rock;
  animation-name: mission-rock;
  -webkit-animation-duration: 14s;
  animation-duration: 14s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.sebastian-home {
  text-align: center;
  margin-top: 15vh;
  padding: 5px;
  height: fit-content;
  width: 52vw;
  margin-left: 35vw;
  border-radius: 10px;
  border: 2px solid #ffbaff;
  background-color: #9a579a;
  box-shadow: inset 0px 0px 5px 5px #ca77ca;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  color: #161111;
  font-size: 1.1vw;
}

.skills-container {
  font-size: 3vw;
  box-shadow: inset 0px 0px 5px 5px black;
  width: 8vw;
  margin-left: 20vw;
  background: silver;
  padding: 1vh 0px;
  position: absolute;
}
p{
  margin-top: 0;
  margin-bottom: 1rem;
  background: burlywood;
  border-bottom: 1px solid black;
  box-shadow: 0px 1px 3px 3px grey;
  width: 99%;
  padding: 0px 5px;
}
h6 {
  margin-left: -49vw;
  font-weight: bold;
  color: lavender;
}

ul{
        list-style: none;
}

li{
    box-shadow: 2px 2px 5px 2px darkgrey;
}

.professional-timeline {
  width: 75vw;
  margin-left: 22vw;
  margin-top: 10vh;
  border: 4px solid #828863;
  background: #fffde4;
  box-shadow: inset 0px 0px 9px 2px grey;
  padding-top: 1vh;
}

.professional-timeline span {
  float: left;
  clear: right;
}

.job-title {
  font-weight: bold;
  font-style: italic;
  color: #b80844;
  width: 100%;
  border: 2px solid;
  color: #b69898;
}

.organization{
  font-weight: bold;
  color: burlywood;
  width: 100%;
  font-style: italic;
}
.location{
  font-weight: bold;
  color: #484464;
  width: 100%;
  font-style: italic;
}

/* animations */

@keyframes mission-rock {
  0% {
    transform: rotate(-20deg);
  }
  12% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  38% {
    transform: rotate(20deg);
  }
  48% {
    transform: rotate(-20deg);
  }
  63% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  86% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes keyIllusion {
  0% {
    border: 0px solid black;
  }
  50% {
    border: 20px solid black;
  }
  100% {
    border: 0px solid black;
  }
}

@keyframes spinning-gear {
  50% {
    transform: rotate(180deg);
  }
}
