<!--The content below is only a placeholder and can be replaced.-->
<app-sidebar></app-sidebar>
<span id="intro"> H</span>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="welcome">Welcome to HellsingIO!</div>
<br>
<br>
<br>

<div class="home-container">
    <h6>Tech in daily use</h6>
  <div class="skills-container">
    <i class="devicon-bitbucket-plain-wordmark"></i>
    <br>
    <i class="devicon-bootstrap-plain-wordmark"></i>
    <br>
    <i class="devicon-css3-plain"></i>
    <br>
    <i class="devicon-docker-plain"></i>
    <br>
    <i class="devicon-git-plain-wordmark"></i>
    <br>
    <i class="devicon-gradle-plain"></i>
    <br>
    <i class="devicon-html5-plain"></i>
    <br>
    <i class="devicon-java-plain-wordmark"></i>
    <br>
    <i class="devicon-javascript-plain"></i>
    <br>
    <i class="devicon-jquery-plain-wordmark"></i>
    <br>
    <i class="devicon-linux-plain"></i>
    <br>
    <i class="devicon-mysql-plain-wordmark"></i>
    <br>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <br>
    <i class="devicon-oracle-original"></i>
    <br>
    <i class="devicon-ssh-plain-wordmark"></i>
    <br>
    <i class="devicon-tomcat-line"></i>
    <br>
    <i class="devicon-typescript-plain"></i>
    <br>
    <i class="devicon-ubuntu-plain-wordmark"></i>
    <br>
    <i class="devicon-vim-plain"></i>
  </div>

  <div class="mission-container"></div>
  <div class="mission-gear"></div>
  <div class="mission-statement">
    This is a working exhibit and experimental site for the testing of a few ideas and new techniques. Some parts may be under
    construction!
  </div>
  <div class="sebastian-home">
    <h2>Hello reader! Dear reader..</h2>
    <br>
    <br> I am Sebastian, and I am a techologist.
    <br> I have spent my career working up the IT stack. HelpDesk, Sys Admin, Network Admin, Server Admin, Software Developer.
    I've been exposed to nearly everything within the typical IT environment.
    <br>
    <br> I have a passion for tech, information technology in particular.
    <br> I am currently building and maintaining full stack Java webapps and apis, as well as scheduled and batch processes to
    facilitate after hours maintenance of applications and data manipulation.
    <br>
    <br> You can find me usually writing a lot of Java, tied to a mysql or oracle database, or powering a dynamic angular front
    end.
    <br>
    <br>That said, programming languages and markup are just tools and as an engineer, I can do the same job with any number
    of other tools.


  </div>
  <div class="keys-container">
    <img src="/assets/pics/keys.jpg" />
  </div>
</div>
