/* start of desktop styles */

@media screen and (max-width: 991px) {
     /* start of large tablet styles */

}

@media screen and (max-width: 767px) {
     /* start of medium tablet styles */

}

@media screen and (max-width: 479px) {
     /* start of phone styles */

}

h1 {	
	position:relative;
    /* margin: auto; */
    height: 175px;
    /* position: fixed; */
    text-align: center;
    padding: 0;
    /* left: 40vw; */
    margin-left: -1vw;
}
.homeContainer{
	background-color: white;
	position:relative;
}
.homeContainer .blogBody {
	border-left: 0 solid black;
	/*horizontal vertical blur radius spread radius color*/
	box-shadow: -2px 17px 3px 3px #888888;
	border-radius: 5px;
	min-height: 90vh;
	position:fixed;
}
#welcome{
	padding-top: 15vh;
	
}
.welcomeMessage{
    font-family: 'Courgette', 'sans-serif';
    text-align:center;
    margin-top: 5vh;
    font-size: 25px;
    font-weight: lighter;
    width:80%;
    margin-left:8%;
}
.pulseArrow {
	background: white;
	z-index: 999;
    margin-left: 29vw;
    margin-top: 7vh;
    width: 100vw;
    /* position: fixed; */
}
.mountainWindow{
    border: 1px grey solid;
    height: 550px;
    width:100%;
    /* margin-top: 0vh; */
    /* position: fixed; */
    /* display: block; */
    max-width: 64.8vw;
    box-shadow: inset 0px 1px 5px grey;
    border-radius: 5px;
   	background-image:url('/assets/pic/mountain.jpg');
	background-attachment: fixed;
    background-position: -8vw -30vh;
    margin-left: 1.4%;
    background-size: 120%;
	
    }
.up{
	animation: slideToTop 1.5s 1, pulse 2s infinite;
	top:-6%
}
.down{
	animation: slideToBottom 1.5s 1, pulse 2s infinite;
	top:10%
}
.homeContainer .sideBar {
	top:0;
	left:0;
	width:32vw;
	height: 100vh;
	position: fixed;
	margin-right: 5%;
	float:left;
	opacity:0;
}

.sideBar ul {
	padding: 0;
}

.sideBar ul li {
	padding: 12.5% 0 12.5% 0;
	margin-top: 17vh;
	margin-left: 10vw;
	width: 12vw;
	line-height: 1;
	text-align: center;
	border: 1px black solid;
	border-radius: 50%;
	list-style-type: none;
	box-shadow: 0px 0px 1px 2px #888888;
}

img {
	width: 50px;
	height: 50px;
}

.blogBody {
	opacity:0;
	top:10vh;
}
#bottom{
	position:fixed;
	top:100vh;
}
.fadeIn{
	animation: fadeIn 2s 1;
	opacity:.9 !important;
}
.fadeAway{
	animation: fadeAway 2s 1;
	opacity:.0 !important;
}
@-webkit-keyframes slideToTop {
  0%{ top:10%;}
  100% {top: -6%;}
}
@keyframes slideToTop {
  0%{top:10%;}
  100% {top: -6%;}
}
@-webkit-keyframes slideToBottom {
  0%{ top:-6%;}
  100% {top: 10%;}
}
@keyframes slideToBottom {
  0%{top:-6%;}
  100% {top: 10%;}
}
@-webkit-keyframes fadeIn {
  0%{ opacity:0;}
  100% {opacity:1;}
}
@keyframes fadeIn {
  0%{ opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeAway {
  0%{ opacity:1;}
  100% {opacity:0;}
}
@keyframes fadeAway {
  0%{ opacity:1;}
  100% {opacity:0;}
}