<!--The content below is only a placeholder and can be replaced.-->
<app-sidebar></app-sidebar>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="welcome">Welcome to HellsingIO!</div>
<br>
<br>
<br>

<div class="home-container">
<div class="keys-container"><img src="/assets/pics/keys.jpg"/></div>
<div class="mission-container"></div>
<div class="mission-gear"></div>
<div class="mission-statement">

This is a working exhibit and experimental site for the testing of a few ideas and new techniques. Some parts may be under construction!


</div>
</div>


